/.metadata/
Flutter/flutter codes.txt
Flutter/Integração com Web API/server/database/main/db.lck
Flutter/Integração com Web API/server/database/main/db.log
*.log
*.lck
*.log
Flutter/Integração com Web API/server/database/main/db.log
*.log
Flutter/Integração com Web API/server/database/main/db.log
*.log
Flutter/Integração com Web API/server/database/main/db.properties
*.properties
Vue/yarn.lock
Vue/node_modules/.yarn-integrity
Vue/package-lock.json
Vue/projeto/api/
